# LINE Bot 官方金鑰 (由 LINE Developers 後台取得)
LINE_CHANNEL_SECRET=your_line_channel_secret_here
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token_here

# Google 試算表設定
GOOGLE_SPREADSHEET_ID=1HTZPjBilY4f584mO7s37IuoPlq-syvKFeaghxXlAO-s

# 主 PIN 與 輔 PIN
MASTER_PIN=789
DEFAULT_PIN=8888
PORT=8088
DEBUG_MODE=False
